{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

{# PLEASE DO NOT CHANGE THIS STRUCTURE, JS NEED IT ! #}
<section class="cart" data-id="{{ cart.id }}">
    <h1>Votre panier</h1>

    {# CARTLINES #}
    {% include "cart/_cartlines.html.twig" %}

    {# DISCOUNT LINE #}
    <div class="discount-cart">
        {% if cart.discount %}
            <div>
                <input 
                    type="text" 
                    placeholder="{{ cart.discount.code }}"
                    class="discount-input">
                <button type="button" class="btn custom-btn find-discount-btn">Valider</button>
            </div>
            <span 
                class="activ-green discount-amount"
                data-amount="{{ cart.discount.amount }}">- {{ cart.discount.amount }} %</span>
        {% else %}
            <div>
                <input type="text" placeholder="Code promo" class="discount-input">
                <button type="button" class="btn custom-btn find-discount-btn">Valider</button>
            </div>
            <span>0 €</span>
        {% endif %}  
    </div>

    <hr class="hr-cart">

    {# TOTAL #}
    <div class="total-cart-container">
        <span>
            TOTAL:
        </span>
        <span class="total-cart">
            {% if cart.discount %}
                {{ (totalCart - (totalCart * cart.discount.amount) / 100)|number_format(2) }}
            {% else %}
                {{ totalCart }}
            {% endif %}
            
        </span>
        <span> € </span>
    </div>

    {# ADDRESSES #}
    {% include "address/_cart.addresses.html.twig" %}

    {# CALL TO ACTION BUTTONS #}
    <div class="control-flex">
        <a href="{{ path('payment') }}" class="custom-btn btn go-to-order disabled">Commander</a>
        <a href="{{ path('main') }}" class="custom-btn btn" style="margin-left:2em">Continuer</a>
    </div>

</section>
{% endblock %}