{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

{# PLEASE DO NOT CHANGE THIS STRUCTURE (javascript need it) !!!! #}
<section class="cart">
    {% if app.user.cart %}
    <ul>
        {% for cartline in cart.cartlines %}
        <li class="cartline-frontend" data-id="{{ cartline.id }}">
            <div class="flex-left-right">
                <div class="flex-left">
                    <span class="img-cart">
                        <img src="{{ asset(cartline.product.image) }}">
                    </span>
                    {{ cartline.product.name }}
                </div>
                <div class="flex-middle">
                    <div class="cart-quantity-container">
                        <span>Quantité : </span>
                        <button 
                        class="waves-effect waves-light btn remove-one-product-btn" data-type="remove"
                        data-index="{{ cartline.product.id }}"
                        data-cartline="{{ cartline.id }}"
                        > -
                        </button>
                        <span 
                        class="cart-quantity"
                        data-id="{{ cartline.id }}"
                        >
                        {{ cartline.quantity }}
                        </span>
                        <button 
                        class="waves-effect waves-light btn add-one-product-btn" data-type="add"
                        data-index="{{ cartline.product.id }}"
                        data-cartline="{{ cartline.id }}"
                        > + </button>
                    </div>
                </div>
                <div class="flex-right">
                    <span 
                    class="total-cartline" 
                    data-price="{{ cartline.product.price }}"
                    data-quantity="{{ cartline.quantity }}"
                        >
                        {{ cartline.product.price * cartline.quantity}} €
                    </span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <hr class="hr-cart">

    <div class="total-cart-container">
        <span>
            TOTAL :
        </span>
        <span class="total-cart">
            {{ totalCart }}
        </span>
        <span> € </span>
    </div>

    {% endif %}

    <div class="control-flex">
        <a href="{{ path('main') }}" class="custom-btn">Continuer mes achats</a>
        <a href="{{ path('payment') }}" class="custom-btn go-to-order">Passer commande</a>
    </div>

</section>
{% endblock %}