{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

{# PLEASE DO NOT CHANGE THIS STRUCTURE !!!! #}
<section class="cart">
    <h1>Votre panier</h1>

    {# CARTLINES #}
    {% include "cart/_cartlines.html.twig" %}

    {# DISCOUNT LINE #}
    <div class="discount-cart">
        {% if discount %}
            <span>Réduction</span>
            <span>{{ discountCode }}</span>
            <span 
                class="activ-green discount-amount"
                data-amount="{{ discount }}">- {{ discountAmount }} %</span>
        {% else %}
            <span>Réduction</span>
            <span>Code de réduction</span>
            <span>0 €</span>
        {% endif %}  
    </div>

    <hr class="hr-cart">

    {# TOTAL #}
    <div class="total-cart-container">
        <span>
            TOTAL:
        </span>
        <span class="total-cart">
            {% if discount %}
                {{ totalCart - discount }}
            {% else %}
                {{ totalCart }}
            {% endif %}
            
        </span>
        <span> € </span>
    </div>

    {# DISCOUNT FORM #}


    {# ADDRESSES #}
    {% include "address/_cart.addresses.html.twig" %}

    {# CALL TO ACTION BUTTONS #}
    <div class="control-flex">
        <a href="{{ path('payment') }}" class="custom-btn btn go-to-order disabled">Passer commande</a>
        <a href="{{ path('main') }}" class="custom-btn btn" style="margin-left:2em">Continuer mes achats</a>
    </div>

</section>
{% endblock %}