<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <section>
        <h1>My Market</h1>
            <div class="order-ref">
                <p>{{ app.user.firstname }} {{ app.user.lastname }} </p>
                <p>Facture N° {{ order.reference }}</p>
                <p>Date : {{ order.createdAt|format_datetime(locale='fr') }} </p>
            </div>
        </div>

        <br>
        <br>

        {# ORDERLINES #}
        <table 
        class="invoice-table"
        style="margin:auto"
        >
            <thead>
                <tr>
                    <th style="width:140px;">Article</th>
                    <th style="width:140px;">Prix</th>
                    <th style="width:140px;">Quantité</th>
                    <th style="width:140px;">Total</th>
                </tr>
            </thead>
            <tbody>
               {% for orderline in order.orderlines %}
                <tr>
                    <td style="text-align:center;">{{ orderline.product.name }}</td>
                    <td style="text-align:center;">{{ orderline.product.price }} €</td>
                    <td style="text-align:center;">{{ orderline.quantity }}</td>
                    <td style="text-align:center;">{{ orderline.quantity * orderline.product.price }} €</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>

        <br>
        <br>

        {# TOTAL #}
        <div 
        class="total-invoice"
        style="margin-left:490px"
        ><b>Total : {{ total }} €</b></div>

    </section>
</body>