{% extends 'base.html.twig' %}

{% block title %}My Market{% endblock %}

{% block body %}

<section class="main-section">
    {# Starring Product section #}
    {% if starringProduct %}
    {% include "main/_starring_product.html.twig" %}
    {% endif %}

    <div class="big-title">
        <hr class="hr-cart">
        <h1>+ de {{ totalStock }} produits en stock</h1>
        <hr class="hr-cart">
    </div>
    
    {# Categories section #}
    {% for category in categories %}
    {% if category.banner %}
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ asset(category.banner) }}">
        </div>
    </div>
    {% endif %}
    <h2 class="header main-category-title">{{ category.name }}</h2>
    <section class="section-main-products-container transparent">
        <div class="row container">
            {% for product in category.product|slice(0, 10) %}
            <div class="col-flex">
                <a href="{{ path('product_show', {'id':product.id}) }}">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset(product.image) }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ product.name }}
                            </span>
                            <p class="price">{{ product.price }} €</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</section>
{% endblock %}