{% extends 'base.html.twig' %}

{% block title %}Editer le client{% endblock %}

{% block body %}
<section>
    <nav class="ariane">
        <div class="nav-wrapper transparent">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_users') }}" class="breadcrumb">Clients</a>
                <a href="#!" class="breadcrumb not-anim">Modifier {{ user.id }}</a>
            </div>
        </div>
    </nav>
    <h1>Modifier le client</h1>
        {{ include('admin/users/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        
    <br />

    <a href="{{ path('admin_users') }}" class="custom-link">Retour à la liste des clients</a>
</section>
{% endblock %}
