{% extends 'base.html.twig' %}

{% block title %}Editer le produit{% endblock %}

{% block body %}
<section>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('admin_main') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_users') }}" class="breadcrumb">Clients</a>
                <a href="#!" class="breadcrumb">Modifier {{ user.id }}</a>
            </div>
        </div>
    </nav>
    <h1>Modifier le client</h1>
    
        {{ include('admin/users/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        
        {{ include('admin/users/_delete_form.html.twig') }}

    <br />

    <a href="{{ path('admin_users') }}" class="custom-link">Retour à la liste des clients</a>
</section>
{% endblock %}
