{% extends 'base.html.twig' %}

{% block title %}Admin clients{% endblock %}

{% block body %}
<section>
    <nav>
        <div class="nav-wrapper transparent">
            <div class="col s12">
                <a href="{{ path('admin_main') }}" class="breadcrumb">Admin</a>
                <a href="#!" class="breadcrumb">Clients</a>
            </div>
        </div>
    </nav>
    <h1>Clients</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_user', {'id': user.id}) }}" class="btn custom-btn">Voir</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn custom-btn">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun client existant</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}