<a class="not-anim">
    {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <br />
    <br />
    {{ form_label(form.hasbanner) }}
    {{ form_widget(form.hasbanner) }}
    <br />
    <br />
    {{ form_label(form.banner) }}
    {{ form_widget(form.banner) }}
    <br />
    <br />
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</a>
