{% extends 'base.html.twig' %}

{% block title %}Modifier {{ category.name }}{% endblock %}

{% block body %}
<section>
    <nav class="ariane">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_categories') }}" class="breadcrumb">Catégories</a>
                <a href="#!" class="breadcrumb not-anim">Modifier {{ category.name }}</a>
            </div>
        </div>
    </nav>
    <h1>Modifier {{ category.name }}</h1>

    {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_category_delete', {'id':category.id}) }}" class="btn custom-btn"
        onclick="return confirm('Supprimer cette catégorie ?')">Supprimer</a>

    <br />

    <a href="{{ path('admin_categories') }}" class="custom-link">Retourner à la liste des catégories</a>
</section>
{% endblock %}