{% extends 'base.html.twig' %}

{% block title %}Modifier {{ category.name }}{% endblock %}

{% block body %}
<section>
    <h1>Modifier {{ category.name }}</h1>
    
    {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }}
    
    {{ include('admin/categories/_delete_form.html.twig') }}
    <a href="{{ path('admin_categories') }}" class="custom-link">Retourner à la liste des catégories</a>
</section>
{% endblock %}
