{% extends 'base.html.twig' %}

{% block title %}Catégorie de produits {% endblock %}

{% block body %}
<section>
    <nav>
        <div class="nav-wrapper transparent">
            <div class="col s12">
                <a href="{{ path('admin_main') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_categories') }}" class="breadcrumb">Catégories</a>
            </div>
        </div>
    </nav>
    <h1>Categories de produit</h1>
    {% if category_products|length == 5 %}
    <a href="{{ path('admin_create_category') }}" class="btn custom-btn disabled">Créer une catégorie</a> (5 maximum)
    {% else %}
    <a href="{{ path('admin_create_category') }}" class="btn custom-btn">Créer une catégorie</a> (5 maximum)
    {% endif %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_product in category_products %}
            <tr>
                <td>{{ category_product.id }}</td>
                <td>{{ category_product.name }}</td>
                <td>
                    <a href="{{ path('admin_category_show', {'id': category_product.id}) }}" class="btn custom-btn">Voir</a>
                    <a href="{{ path('admin_category_edit', {'id': category_product.id}) }}" class="btn custom-btn">Modifier</a>
                    <a href="{{ path('admin_category_delete', {'id': category_product.id}) }}" class="btn custom-btn" onclick="return confirm('Supprimer cette catégorie définitivement ? Vous perdrez tous les produits associés')">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie existante</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
