{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %}
<section>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_categories') }}" class="breadcrumb">Catégories</a>
                <a href="#!" class="breadcrumb not-anim">{{ category.name }}</a>
            </div>
        </div>
    </nav>
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Bannière</th>
                {% if category.banner %}
                <td>
                    <a class="not-anim" data-fslightbox="gallery" href="{{ asset(category.banner) }}">

                        <img src="{{ asset(category.banner) }} " class="product-img-very-small">
                    </a>
                </td>
                {% else %}
                Pas de bannière
                {% endif %}

            </tr>
        </tbody>
    </table>

    <div class="control-flex">
        <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn custom-btn">Modifier</a>

        <a href="{{ path('admin_category_delete', {'id':category.id}) }}" class="btn custom-btn"
            onclick="return confirm('Supprimer cette catégorie ?')">Supprimer</a>
    </div>

    <a href="{{ path('admin_categories') }}" class="custom-link">Retourner à la liste des catégories</a>

</section>
<script src="{{ asset('assets/js/fslightbox.js') }}"></script>
{% endblock %}