{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %}
<section>
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="control-flex">
        <a href="{{ path('admin_category_edit', {'id': category.id}) }}"  class="btn custom-btn">Modifier</a>
        
        {{ include('admin/categories/_delete_form.html.twig') }}
    </div>
    
    <a href="{{ path('admin_categories') }}" class="custom-link">Retourner à la liste des catégories</a>

    </section>
{% endblock %}
