<div class="flex-left-right">
    <div class="flex-left">
        <a data-fslightbox="gallery" href="{{ asset(product.image) }}" class="not-anim">
            <img src="{{ asset(product.image) }}" class="product-img-show">
        </a>
    </div>
    <div class="flex-right">
        <div class="product-show-infos">
            <div>
                <h6>{{ product.descriptionShort }}</h6>
                {% if product.userRates|length > 0 %}
                <span>
                    {{ totalAverageProduct|round(1, 'floor') }}/5 - ({{ userRates|length }} avis)
                </span>
                {% else %}
                Aucun avis pour le moment
                {% endif %}
                <br />
                <br />
                <span class="price-big">{{ product.price|round(2, 'floor') }} €</span>
                <br />
                <br />
                {% if product.stock >= 1 %}

                <a href="#!" class="add-to-cart-btn btn add-to-cart-show-btn not-anim" data-id="{{ product.id }}"
                    data-name="{{ product.name }}" data-price="{{ product.price }}">
                    <i class="material-icons">add_shopping_cart</i>
                    Ajouter au panier
                </a>
                <br />
                {% endif %}

                {% if product.stock > 1 %}
                <span class="activ-green">En stock</span>
                {% elseif product.stock == 1 %}
                <span class="activ-orange">Dernier article en stock</span>
                {% else %}
                <span class="activ-red">Plus en stock</span>
                {% endif %}
            </div>

            <br />

            <div class="control-flex product-show-links-anchor">
                <a href="#product-description" class="custom-link not-anim">Description</a>
                <a href="#product-rates" class="custom-link not-anim">Avis clients</a>
            </div>

            {# Images #}
            {% include "product/_gallery.html.twig" %}
           
        </div>
    </div>
</div>