{% extends 'base.html.twig' %}

{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
<section class="product-show">
        <nav class="transparent ariane">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('main') }}" class="breadcrumb"><i class="material-icons">home</i>Accueil</a>
                    <a href="{{ path('products_by_category', {'id':product.categoryProduct.id}) }}" class="breadcrumb">{{ product.categoryProduct.name }}</a>
                    <a href="#!" class="breadcrumb not-anim">{{ product.name }}<a>
                </div>
            </div>
        </nav>

    <a class="not-anim">
        <h1>{{product.name}}</h1>
        <hr class="hr-title">
    </a>
    
    {# Product Image, short description, price, addToCart btn #}
    {% include "product/_show.infos.html.twig" %}
    
    {# Product description #}
    <h2 id="product-description">Description</h2>
    <p>{{ product.description }}</p>
    
    {# TODO Ajouter produits similaires #}
    
    {# User rates + form #}
    <h2 id="product-rates">Avis clients</h2>
    
    <a href="{{ path('add_user_rate', {'id':product.id}) }}" class="btn custom-btn">Laisser un avis</a>
    
    {% if product.userRates|length > 0 %}
        {% include "user_rate/show.html.twig" %}
    {% else %}
        <p>Aucun avis pour l'instant, soyez le premier à déposer le votre.</p>
    {% endif %}

</section>

<script src="{{ asset('assets/js/fslightbox.js') }}"></script>
{% endblock %}