{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<section class="products-section">

    <h1>{{ products|length }} produit(s) trouvé(s)</h1>
    <div class="row row-cards">
        {% for product in products %}
        <div class="col-flex">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset(product.image) }}">
                </div>

                {# Add to cart button #}
                {% if product.stock > 0 %}
                <a class="btn-floating halfway-fab waves-effect waves-light add-to-cart-btn not-anim"
                    data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}">
                    <i class="material-icons">add_shopping_cart</i>
                </a>
                {% endif %}

                <div class="card-reveal">
                    <span class="card-title">{{ product.name }}<i
                            class="material-icons right">close</i></span>
                    <p>{{ product.descriptionShort }}</p>
                </div>
                <div class="card-content">
                    <span class="card-title">{{ product.name }}
                    </span>
                    <i class="material-icons activator right">more_vert</i>
                    <p class="price">{{ product.price }} €</p>
                </div>
                <div class="card-action">
                    <a href="{{ path('product_show', {'id':product.id}) }}">Voir le produit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}