<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    {% block metadescription %}{% endblock %}
    <meta name="google-site-verification" content="Wug1WNXTFOb4DLNL5JstVtp3r1nRBv47FCgGvH8tVFQ" />

    <title>{% block title %}My Market{% endblock %}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="{{ asset('assets/images/mymarket-logo-favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/apple-touch-icon.png') }}">
    <link href="{{ asset('assets/css/materialize.min.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="{{ asset('assets/css/materialize-style.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    {% block stylesheets %}

    {% endblock %}
</head>

<!--***************************BODY****************************-->

<body>

    {# Loading animation #}
    <div class="animation-loading-container">
        <div class="lds-dual-ring"></div>
    </div>

    {# Flash messages #}
    <div class="flash-container">
        {% for label, messages in app.flashes %}
        {% for message in messages %}

        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    {# NAV #}
    {{ render(controller('App\\Controller\\MainController::navbar')) }}
    
    {% block body %}
    {% endblock %}

    {# BG #}
    <div class="right-bg-img">
        <img src="{{ asset('assets/images/pie-bg.png') }}">
    </div>

    {# FOOTER #}
    {% include "footer/footer.html.twig" %}

    {# JS #}
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/materialize.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/cart.js') }}"></script>
    {% endblock %}
</body>

</html>