<div class="input-field col s12">
    {{ form_start(form) }}
    {{ form_label(form.reference) }}
    {{ form_widget(form.reference) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.description_short) }}
    {{ form_widget(form.description_short) }}
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
    <div class="add-images-form">
        <div class="flex-left-right">
            <div class="flex-left">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
                <br />
                {{ form_label(form.image2) }}
                {{ form_widget(form.image2) }}
                <br />
                {{ form_label(form.image3) }}
                {{ form_widget(form.image3) }}
                <br />
                {{ form_label(form.image4) }}
                {{ form_widget(form.image4) }}
                <br />
                {{ form_label(form.image5) }}
                {{ form_widget(form.image5) }}
            </div>

            <br />
            <br />
            
            <div class="flex-right">
               {% include "admin/product/_images.html.twig" %}
            </div>
        </div>
    </div>
    <br />
    <br />
    {{ form_label(form.categoryProduct) }}
    {{ form_widget(form.categoryProduct) }}
    <br />
    {{ form_label(form.stock) }}
    {{ form_widget(form.stock) }}
    {{ form_end(form) }}
</div>