<div class="input-field col s12">
    {{ form_start(form) }}
    {{ form_label(form.reference) }}
    {{ form_widget(form.reference) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.description_short) }}
    {{ form_widget(form.description_short) }}
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    <br />
    <br />
    {{ form_label(form.categoryProduct) }}
    {{ form_widget(form.categoryProduct) }}
    {{ form_end(form) }}
</div>