{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<section class="admin-products">
    <nav class="ariane">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="#!" class="breadcrumb not-anim">Produits</a>
            </div>
        </div>
    </nav>
    <h1>Produits</h1>
    <div>
        <a href="{{ path('app_product_new') }}" class="btn custom-btn">Créer un nouveau produit</a>
        <br/>
    
        {# Search form #}
        {% include "admin/product/_search_form.html.twig" %}
    </div>
    <div class="scroll-x">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Référence</th>
                <th>Name</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.name }}</td>
                <td>
                    {% if product.categoryProduct %}
                    {{ product.categoryProduct.name }}
                    {% else %}
                    <span class="activ-red">
                        Non catégorisé
                    </span>
                    {% endif %}
                </td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.isActiv == 1 %}
                    <span class="activ-green"><i class="material-icons">check</i></span>
                    {% else %}
                    <span class="activ-red"><i class="material-icons">close</i></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="custom-btn">Voir</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="custom-btn">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">Aucun article trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</section>
{% endblock %}