{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<section>
    <nav>
        <div class="nav-wrapper transparent">
            <div class="col s12">
                <a href="{{ path('admin_dashboard') }}" class="breadcrumb">Admin</a>
                <a href="{{ path('admin_products') }}" class="breadcrumb">Produits</a>
                <a href="#!" class="breadcrumb not-anim">{{ product.name }}</a>
            </div>
        </div>
    </nav>
    <h1>{{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Description_courte</th>
                <td>{{ product.descriptionShort }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    {% if product.image %}
    <div class="mini-gallery">
        {% if product.image %}
        <div class="container-img">
            <a class="not-anim" data-fslightbox="gallery" href="{{ asset(product.image) }}">
                <img src="{{ asset(product.image) }}" alt="product-image" class="product-img-small">
            </a>
        </div>
        {% endif %}

        {% if product.image2 %}
        <div class="container-img">
            <a class="not-anim" data-fslightbox="gallery" href="{{ asset(product.image2) }}">
                <img src="{{ asset(product.image2) }}" alt="product-image" class="product-img-small">
            </a>
        </div>
        {% endif %}

        {% if product.image3 %}
        <div class="container-img">
            <a class="not-anim" data-fslightbox="gallery" href="{{ asset(product.image3) }}">
                <img src="{{ asset(product.image3) }}" alt="product-image" class="product-img-small">
            </a>
        </div>
        {% endif %}

        {% if product.image4 %}
        <div class="container-img">
            <a class="not-anim" data-fslightbox="gallery" href="{{ asset(product.image4) }}">
                <img src="{{ asset(product.image4) }}" alt="product-image" class="product-img-small">
            </a>
        </div>
        {% endif %}

        {% if product.image5 %}
        <div class="container-img">
            <a class="not-anim" data-fslightbox="gallery" href="{{ asset(product.image5) }}">
                <img src="{{ asset(product.image5) }}" alt="product-image" class="product-img-small">
            </a>
        </div>
        {% endif %}
    </div>

    {% else %}
    Aucune image
    {% endif %}

    <div class="control-flex">
        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn custom-btn">Modifier le produit</a>
    </div>

    <a href="{{ path('admin_products') }}" class="custom-link">Retour à la liste des produits</a>
</section>

<script src="{{ asset('assets/js/fslightbox.js') }}"></script>
{% endblock %}