{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}

{% block body %}

<section class="admin-main-section-menu">
    <div class="flex-left-right">

        {# LEFT #}
        <div class="flex-left">
            <div class="tab">
                <a href="{{ path('admin_orders') }}">Gérer les commandes</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_categories') }}">Gérer les catégories</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_products') }}">Gérer les produits</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_users') }}">Gérer les clients</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_stock') }}">Gérer les stocks</a>
            </div>

            <br />
            <hr class="hr-cart">
            <br />

            <div class="tab">
                <a href="{{ path('admin_create_category') }}">Créer une catégorie</a>
            </div>
            <div class="tab">
                <a href="{{ path('app_product_new') }}">Créer un produit</a>
            </div>
        </div>

        {# RIGHT #}
        <div class="flex-right">
            <h4>{{ totalOrders }} produits vendus au total</h4>
            <br/>
            <h5><b>{{ totalSellThisMonth }} € </b>de C.A ce mois-ci</h5>
            <h5><b>{{ totalProducts }}</b> produits en vente</h5>
            <h5><b>{{ totalStock }}</b> produits en stock</h5>
            <h5><b>{{ totalUsers }}</b> utilisateurs enregistrés</h5>
        </div>
    </div>
</section>

{% endblock %}
