{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}

{% block body %}

<section class="admin-main-section-menu">
    <div class="flex-left-right">

        {# LEFT #}
        <div class="flex-left">
            <h5>Gérer</h5>
            <div class="tab">
                <a href="{{ path('admin_orders') }}">Les commandes</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_categories') }}">Les catégories</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_products') }}">Les produits</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_discount_index') }}">Les codes promo</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_users') }}">Les clients</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_stock') }}">Les stocks</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_manage_homepage') }}">La page d'accueil</a>
            </div>

            <br />
            <hr class="hr-cart">
            <br />

            <h5>Créer</h5>
            <div class="tab">
                <a href="{{ path('admin_create_category') }}">Une catégorie</a>
            </div>
            <div class="tab">
                <a href="{{ path('app_product_new') }}">Un produit</a>
            </div>
            <div class="tab">
                <a href="{{ path('admin_discount_new') }}">Un code promo</a>
            </div>
        </div>

        {# RIGHT #}
        <div class="flex-right">
            <h4>{{ totalOrders }} produit(s) vendu(s) au total</h4>
            <br/>
            <h5><b>{{ totalSellThisMonth }} € </b>de C.A ce mois-ci</h5>
            <h5><b>{{ totalProducts }}</b> produit(s) en vente</h5>
            <h5><b>{{ totalStock }}</b> produit(s) en stock</h5>
            <h5><b>{{ totalUsers }}</b> utilisateur(s) enregistré(s)</h5>
        </div>
    </div>
</section>

{% endblock %}
