{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<section>
    <h1>Mes commandes</h1>
    <div id="user-orders">
        <ul class="collapsible">
        {% for order in orders %}
            <li>
                <div class="collapsible-header">Le {{ order.createdAt|format_datetime(locale='fr') }}
                    <br />
                    Ref: {{ order.reference }}
                </div>
                <div class="collapsible-body">
                    <h5>Référence : {{ order.reference }}</h5>
                    <div class="flex-center">
                        <a 
                        href="{{ path('invoice_download', {'id':order.id}) }}" class="not anim btn custom-btn"
                        style="display:flex"
                        >
                            <i class="material-icons">file_download</i> Télécharger la facture
                        </a>
                    </div>
                    <br />
                    <ul>
                        {% for orderline in order.orderLines %}
                        <li>
                            <h5>
                                <a href="{{ path('product_show', {'id':orderline.product.id}) }}">
                                    {{ orderline.product.name }}
                                </a>
                            </h5>
                        </li>
                        <li>Quantité : {{ orderline.quantity }}</li>
                        {% endfor %}
                    </ul>
                    <br />
                    <div class="total-cart-container">
                        <span>
                            TOTAL :
                        </span>
                        <span class="total-cart">
                            {{ order.price|number_format(2) }}
                        </span>
                        <span> € </span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}