{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<section class="user-account">
    <h1>Mon compte</h1>
    <div class="flex-left-right">
        <div class="flex-left">
            <a href="{{ path('user_edit', {'id':user.id}) }}">
                <div class="tab">
                    Modifier mes infos
                </div>
            </a>
            {% if user.address %}
            <a href="{{ path('address_edit', {'id':user.address.id}) }}">
                <div class="tab">
                    Modifier mon adresse secondaire
                </div>
            </a>
            {% else %}
            <a href="{{ path('address_new') }}">
                <div class="tab">
                    Créer une adresse secondaire
                </div>
            </a>
            {% endif %}
            <hr class="hr-cart">
            <a href="{{ path('orders') }}">
                <div class="tab">
                    Voir mes commandes
                </div>
            </a>
            <hr class="hr-cart">
            <a href="{{ path('user_disable', {'id':user.id}) }}"
                onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte ?')" class="activ-red">
                <div class="tab">
                    Supprimer mon compte
                </div>
            </a>

        </div>
        <div class="flex-right">
            <h4>Mes infos</h4>
            <ul>
                <li>{{ user.firstName }}</li>
                <li>{{ user.Lastname }}</li>
                <li>{{ user.email }}</li>
                <li>0{{ user.phoneNumber }}</li>
                <li>
                    <ul>
                        <li>{{ user.addressFirstLine }}</li>
                        {% if user.addressSecondline %}
                        <li>
                            {{ user.addressSecondline }}
                        </li>
                        {% endif %}
                        <li>{{ user.addressPostal }}</li>
                        <li>{{ user.town }}</li>
                    </ul>
                </li>
            </ul>

            <br />
            <br />

            {% if user.address %}
            <h5>Mon adresse secondaire</h5>
            <ul>
                <li>
                    <h6>{{ user.address.title }}</h6>
                </li>
                <li>{{ user.address.firstName }}</li>
                <li>{{ user.address.lastName }}</li>
                <li>{{ user.address.addressFirstLine }}</li>
                {% if user.address.addressSecondLine %}
                <li>{{ user.address.addressSecondLine }}</li>
                {% endif %}
                <li>{{ user.address.addressPostal }}</li>
                <li>{{ user.address.addressTown }}</li>
            </ul>
            <a href="{{ path('address_edit', {'id':user.address.id}) }}" class="btn custom-btn">Modifier cette
                adresse</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}