{% extends 'base.html.twig' %}

{% block title %}Adresse {{ address.id }}{% endblock %}

{% block body %}
<section>

    <h1>Adresse {{ address.id }}</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ address.title }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ address.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ address.lastName }}</td>
            </tr>
            <tr>
                <th>AddressFirstLine</th>
                <td>{{ address.addressFirstLine }}</td>
            </tr>
            <tr>
                <th>AddressSecondLine</th>
                <td>{{ address.addressSecondLine }}</td>
            </tr>
            <tr>
                <th>AddressPostal</th>
                <td>{{ address.addressPostal }}</td>
            </tr>
            <tr>
                <th>AddressTown</th>
                <td>{{ address.addressTown }}</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
