{% extends 'base.html.twig' %}

{% block title %}Adresse {{ address.id }}{% endblock %}

{% block body %}
<section>

    <h1>Adresse {{ address.id }}</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Titre de l'adresse</th>
                <td>{{ address.title }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ address.firstName }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ address.lastName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ address.addressFirstLine }}</td>
            </tr>
            <tr>
                <th>Précision adresse</th>
                <td>{{ address.addressSecondLine }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ address.addressPostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ address.addressTown }}</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
