<ul class="sidenav" id="mobile-nav">
    <h6>Profil</h6>
    {% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_dashboard') }}" class="navlink dark-text text-darken-1">Admin</a></li>
    {% endif %}
    <li><a href="{{ path('user_account', {'id':app.user.id}) }}" class="navlink not-anim">Mon compte</a></li>
    <li><a href="{{ path('orders') }}" class="navlink not-anim">Mes commandes</a></li>
    <li><a href="{{ path('logout') }}" class="navlink">Me déconnecter</a></li>
    {% else %}
    <li><a href="{{ path('login') }}" class="navlink">Me connecter</a></li>
    <li><a href="{{ path('register') }}" class="navlink">M'enregistrer</a></li>
    {% endif %}

    <hr class="hr-cart">

    <div class="search-bar" id="searchBarMobile">
        <form id="search-form" method="POST" action="{{ path('search_product') }}">
            <input autocomplete="on" class="search-field" id="search-text" name="search" type="text"
                placeholder="Rechercher un produit" />
            <input style="display: none;" type="submit" value="" />
        </form>
    </div>

    <hr class="hr-cart">

    <h6>Catégories</h6>
    {% for category in categories %}
    <li><a href="{{ path('products_by_category', {'id':category.id}) }}" class="navlink dark-text text-darken-1">{{
            category.name }}</a></li>
    {% endfor %}

    <hr class="hr-cart">

    <h6>Nous connaître</h6>
    <li><a href="#" class="navlink">Notre entreprise</a></li>
    <li><a href="#" class="navlink">Notre boutique</a></li>
    <li><a href="#" class="navlink">Nous contacter</a></li>

    <hr class="hr-cart">

    <li><a href="#" class="navlink">CGV</a></li>

</ul>