<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper navbar darken-3">
            <a href="{{ path('main') }}" class="brand-logo">Accueil</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a id="cart-nav" class="modal-trigger" href="#dropdown-cart">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                </li>
                <li>
                    <a class='dropdown-trigger' href='#' data-target='dropdownUser'>
                        <i class="material-icons">person</i>
                    </a>
                </li>

                {# CART NAV #}
                <div id="dropdown-cart" class="modal modal-fixed-footer">
                    <div class="modal-content cart-modal-content">
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Continuer mes achats</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="cart-validate">Valider le panier</a>
                    </div>
                </div>

                {# DROPDOWN USER #}
                <ul id='dropdownUser' class='dropdown-content left'>
                    {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_main') }}" class="navlink">Admin</a></li>
                    {% endif %}

                    <li><a href="#" class="navlink">Mon compte</a></li>
                    <li><a href="{{ path('logout') }}" class="navlink">Se déconnecter</a></li>
                    {% else %}
                    <li><a href="{{ path('login') }}" class="navlink">Se connecter</a></li>
                    <li><a href="{{ path('register') }}" class="navlink">S'enregistrer</a></li>
                    {% endif %}
                </ul>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent nav-categories">
                {% for category in categories %}
                <li class="tab">
                    <a href="{{ path('products_by_category', {'id':category.id}) }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav darken-3" id="mobile-nav">
    {% for category in categories %}
    <li><a href="{{ path('products_by_category', {'id':category.id}) }}" class="navlink dark-text text-darken-1">{{
            category.name }}</a></li>
    {% endfor %}

    {% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_main') }}" class="navlink dark-text text-darken-1">Admin</a></li>
    {% endif %}
    <li><a href="#" class="navlink dark-text text-darken-1">Mon compte</a></li>
    <li><a href="{{ path('logout') }}" class="navlink dark-text text-darken-1">Se déconnecter</a></li>
    {% else %}
    <li><a href="{{ path('login') }}" class="navlink dark-text text-darken-1">Se connecter</a></li>
    <li><a href="{{ path('register') }}" class="navlink dark-text text-darken-1">S'enregistrer</a></li>
    {% endif %}
</ul>